body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #72261d, #3c0a11);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 420px;
    background: #d41a5c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

h2 {
    color: white;
    margin-bottom: 10px;
}

.school-name {
    font-size: 18px;
    color: #f8f8f8;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    width: 100%;
    background: #600828;
    color: white;
    padding: 12px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background: #d41a5c;
}
